<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID" version="3.0">
 <listener>
    <listener-class>
        com.empmgmt.listener.MongoDBContextListener
    </listener-class>
  </listener>
<!--
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>com.usermgmt.UserServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
-->
 
  <servlet>
    <servlet-name>searchEmp</servlet-name>
    <servlet-class>com.empmgmt.servlet.EmployeeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchEmp</servlet-name>
    <url-pattern>/searchEmp</url-pattern>
  </servlet-mapping>
 
  <context-param>
    <param-name>MONGODB_HOST</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>MONGODB_PORT</param-name>
    <param-value>27017</param-value>
  </context-param>
</web-app>